.btn_success {
  border-radius: 50px;
  background-color: #d008f8;
  color: white;
  font-weight: 500;
  text-transform: capitalize;
}

.btn_primary{
  border-radius: 50px;
  background-color: #8920e9;
  color: white;
  font-weight: 500;
  text-transform: capitalize;
}

.btn_success:hover {
  background-color: #8920e9;
}
// Here you can add other styles
.user_profile_box {
  display: flex;
  align-items: center;
  gap: 14px;
}
.user_profile_box p {
  color: #d008f8;
  margin: 0;
}
.user_profile_box p span {
  cursor: pointer;
}
.user_profile_box img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #d008f8;
}
.upload_panal {
  display: flex;
  align-items: center;
  gap: 15px;
}

.upload_panal .send {
  background-color: #8920e9;
  color: white;
  font-size: 16px;
}

.upload_panal .cancel {
  background-color: #d008f8;
  color: white;
  font-size: 16px;
}

.upload_panal svg {
  color: #d008f8;
}

// post

.upload_panal {
  display: flex;
  align-items: center;
  gap: 30px;
}
.user_profile_link a {
  text-decoration: none;
  color: white;
}

.user_profile_link a:hover {
  text-decoration: underline;
}
.post_content p {
  font-size: 18px;
}
.post_content img {
  border-radius: 10px;
  max-width: 100%;
}

.post_reaction_item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post_reaction_item span {
  font-size: 22px;
  font-weight: 500;
}

.reaction_icon {
  cursor: pointer;
}
// comment
.post_comments {
}
.comment_user {
  display: flex;
  align-items: center;
  gap: 20px;
}
.comment_user p,
.comment_user h6 {
  margin: 0;
}
.comment_user img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #d008f8;
}

.no_border {
  border: none;
}

.search_box span {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -30%);
}
.search_box svg {
  color: #4a4a4a;
}
.search_box input {
  padding-right: 50px;
}
.search_box {
  position: relative;
}

/*
==========================Profile Page==================================
*/
.profile_cover_wrap {
  margin-bottom: 100px;
}
.profile_cover_photo {
  width: 100%;
  background-image: url(/src/assets/images/react.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  text-align: center;
  height: 250px;
  position: relative;
  border: 2px solid #d008f8;
}

.profile_cover_photo .profile_main_photo {
  width: 120px;
  height: 120px;
  background-image: url(/src/assets/images/avatars/8.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  top: 100%;
  z-index: 2;
  border: 2px solid #d008f8;
}

.profile_cover_photo button {
  position: absolute;
  right: 40px;
  top: 50px;
  z-index: 2;
}
.btn_cp_upload {
  background-color: #d008f8;
  color: white;
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 600;
  border-radius: 50px;
}

.btn_cp_upload:hover {
  background-color: #8920e9;
}

.color_keys p {
  color: #d008f8;
  margin: 0;
}
.color_keys p span {
  cursor: pointer;
}

.web3pub_qr_code img {
  border-radius: 10px;
}

/*
============================ Chat Page========================
*/
.chat_wrap {
  height: 600px;
  position: relative; /* Necessary for positioning child elements */
}

.chat_user {
  height: calc(100% - 50px); /* Adjust based on the height of message send box */
  max-height: 100%;
  overflow-y: scroll;
}

.chat_history {
  height: calc(100% - 50px); /* Adjust based on the height of message send box */
  max-height: 100%;
  overflow-y: scroll;
}

.message_sendbox {
  background-color: #1d222b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  position: absolute;
  bottom: 56px;
  height: 50px; /* Adjust based on the desired height of the message send box */
}

.input_box {
  width: calc(100% - 100px); /* Adjust based on the width of any additional elements */
}

.single_user {
  cursor: pointer;
  border-radius: 10px;
}
.single_user:hover {
  background-color: #2b3242;
}



// login page / signup page 

.bg-primary{
  background-color: #8920e9 !important;
} 